@import url('https://fonts.googleapis.com/css?family=Poppins');


.navbar {
    background-color: #272D2D;
}

li {
    list-style: none;
    display: inline-block;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #c6c6c6;
}

#nazwy {
    margin-top: 3%;
    width: 26%;
    float: left;
    text-align: right;
    margin-right: 1%;
    font-size: 21.8;
}

#formularz1 {
    margin-top: 3%;
    width: 70%;
    float: left;
    font-size: 1em;
}

.fl {
    margin: 6px;
    width: 20px;
    border: 0.7px solid #8E9B90;
    border-radius: 40px;
}

#flags {
    margin-top: 5%;
    width: 100%;
    bottom: 0px;
    
}

input[type="text"] {
    margin-bottom: 3px;
}

input[type="submit"] {
    float: right;
    margin-right: 15%;
}

.content {
    flex: 1;
}

.info {
    font-size: 10;
}


table.tabelka {
    border: 0px solid #FFFFFF;
    text-align: center;
    margin-top: 2%;
    border-collapse: collapse;
    -webkit-box-shadow: 5px 2px 17px 3px rgba(0,0,0,0.59); 
box-shadow: 5px 2px 17px 3px rgba(0,0,0,0.59);
}

table.tabelka th 
{
    border: 2px solid #FFFFFF;
    padding: 4px 5px;
    text-transform: uppercase;
    background:#272D2D;
    color:white;
}

table.tabelka td
{
    border: 1px solid #FFFFFF;
    padding: 3px 4px;
}
td.imie
{
    text-transform: capitalize;
}
table.tabelka tbody td {
    font-size: 13px;
}

table.tabelka td:nth-child(even) {
    background: #EBEBEB;
}

table.tabelka thead {
    background: #FFFFFF;
    border-bottom: 4px solid #333333;
}

table.tabelka thead th {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    border-left: 2px solid #333333;
}

table.tabelka thead th:first-child {
    border-left: none;
}

table.tabelka tfoot td {
    font-size: 14px;
}

.detale
{
    width:80%;
    background-color:white;
    height: auto;
}
.locator:hover{
    cursor:pointer;
}
#map {
    transition:all .5s;
    opacity:0;
    display:none;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    height: 100%;  
    width: 100%;
}
.close_map:hover{
    cursor:pointer;
}
.close_map {
    transition: all .5s;
    display:none;
    transition: all .5s;
    font-size:50px;
    color:red;
    font-weight: 700;
    width:100px;
    height:100px;
    z-index:99;
    position:absolute;
    top:50px;
    right:0; 
}
.buttons
{
    float:center;
    text-align: center;
    width:74%;
    margin-right:13%;
    margin-left:13%;
    margin-bottom: 5%;
}