@import url('https://fonts.googleapis.com/css?family=Poppins');


.navbar
{
    background-color:#272D2D;
}
li {
    list-style: none;
    display: inline-block;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #c6c6c6;
}

#nazwy {
    margin-top: 3%;
    width: 26%;
    float: left;
    text-align: right;
    margin-right: 1%;
    font-size: 21.8;
}

#formularz1 {
    margin-top: 3%;
    width: 70%;
    float: left;
    font-size: 1em;
}

.fl {
    margin: 10px;
    width: 30px;
    border: 0.7px solid #8E9B90;
    border-radius:40px;

}

#flags {
    margin-top: 5%;
    width: 100%;
    bottom: 0px;
}

input[type="text"]{
    margin-bottom: 3px;
}
input[type="submit"]{
    float:right;
    margin-right: 15%;
}

.content {
    flex: 1;
}

.info
{
    font-size:10;
}


table.tabelka {
  border: 0px solid #FFFFFF;
  text-align: center;
  border-collapse: collapse;
}
table.tabelka td, table.tabelka th {
  border: 1px solid #FFFFFF;
  padding: 3px 4px;
}
table.tabelka tbody td {
  font-size: 13px;
}
table.tabelka td:nth-child(even) {
  background: #EBEBEB;
}
table.tabelka thead {
  background: #FFFFFF;
  border-bottom: 4px solid #333333;
}
table.tabelka thead th {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 2px solid #333333;
}
table.tabelka thead th:first-child {
  border-left: none;
}

table.tabelka tfoot td {
  font-size: 14px;
}